@main-font: 'Gilroy', Open Sans, Arial, sans-serif;

@color-white: #ffffff;
@color-black: #000000;
@color-black-light: #333;
@color-gray: #4A545E;
@color-gray-light: #F4F4F4;
@color-orange: #fa886e;
@color-red: red;
@color-main: @color-black;
@color-second: @color-white;


.transitions(@for: all) {
	transition: @for ease-in-out .2s;
}

.color-style (@color, @background-color) {
	color: @color;
	background-color: @background-color;
}

.bg-img (@position: 50% 50%, @size: cover) {
	background-position: @position;
	background-repeat: no-repeat;
	background-size: @size;
}

