.button {
    display: inline-block;
    padding: 0.85em 2.25em;
    text-decoration: none;
    border-radius: 5px;
    background-color: @color-white;
    color: @color-main;
    font-size: 18px;
    font-weight: bold;
    line-height: 100%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    &-border {
        padding: 15px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid @color-black;
        border-radius: 55px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
        cursor: pointer;
        color: @color-black;
    }
    &-orange {
        padding: 15px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: @color-orange;
        border-radius: 55px;
        border: none;
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
        cursor: pointer;
        color: @color-white;
    }

    .icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    &_default {
        &:hover {
            background-color: #FAFAFA;
        }
        &:focus,
        &:active {
            background-color: #F7F7F7;
        }
    }

    &_full-width {
        width: 100%;
    }
}