.text-block {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  &__title {
    margin-bottom: 15px;
    font-size: 32px;
    color: @color-black;
  }

  &__description {
    font-size: 18px;
    color: @color-black;
  }
}