.text-block {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: @color-white;
  border: 3px solid transparent;

  &:not(.preview) {
    &:hover {
      border: 3px solid @color-gray;
    }
  }

  &:hover {
    .control-block {
      opacity: 1;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: 32px;
    color: @color-black;
    .transitions();

    &:focus {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &__description {
    font-size: 18px;
    color: @color-black;
    .transitions();

    &:focus {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}