.text-block-bg {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  box-sizing: border-box;

  &:hover {
    .control-block {
      opacity: 1;
    }
  }

  &:not(.preview) {
    &:hover {
      border: 3px solid @color-gray;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
    color: @color-white;
  }

  &__description {
    font-size: 22px;
    font-weight: 300;
    color: @color-white;
  }
}